########################
# Maven / Build
########################
target/
!.mvn/wrapper/maven-wrapper.jar

########################
# IntelliJ / IDEA
########################
.idea/
*.iml
*.iws
*.ipr
out/

########################
# Eclipse / STS
########################
.project
.classpath
.settings/
.springBeans

########################
# VS Code
########################
.vscode/

########################
# OS-specific
########################
.DS_Store
Thumbs.db

########################
# Logs / Temp
########################
logs/
*.log
*.tmp

########################
# H2 / Databases
########################
*.mv.db
*.trace.db

########################
# Others
########################
*.swp
